@import "tailwindcss/base";

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

h3 {
  @apply text-lg;
}

@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* ul li {
  @apply list-disc ml-5;
}

ol li {
  @apply list-decimal ml-5;
} */

.color-primary {
  @apply text-blue-500;
}

/* a {
  @apply color-primary underline;
} */
.no-label {
  color: inherit;
  text-decoration: none;
}

p {
  @apply my-1 text-lg;
}

strong {
  @apply font-bold color-primary;
}

.icon {
  @apply inline;
}

.icon-lg {
  @apply icon;
  width: 2.1rem;
  height: 2.1rem;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
* {
  -webkit-print-color-adjust:exact;
  print-color-adjust:exact;
}